<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhkiMu9iO-7h5MFzxq2TWLibf8TOEr8H4</string>
	<key>GCM_SENDER_ID</key>
	<string>338520166377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ca202.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-2b053</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-2b053.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338520166377:ios:24629a6c463b00a51b4578</string>
</dict>
</plist>